@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=Coral+Pixels&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Coral+Pixels&family=Roboto:ital,wght@0,100..900;1,100..900&family=WindSong:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Coral+Pixels&family=Geist:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=WindSong:wght@400;500&display=swap');

body{
  background-color:#F5F6F1;
  font-family:"geist" ; 
  overflow-x: hidden;
}

.logo{
  height: 100%;
  width: 14%;
  padding: 1vw;
  margin-left: 2vw;
}

img{
  height: 95%;
  width: 95%;
  
}
.font-span{
  font-family: "windsong" ;
}
.home{
  font-family:"geist" ;
  font-size: 2.5vh;
  color: rgb(61, 60, 60);
  font-weight: 500;
}
